{% extends "auctions/layout.html" %}

{% block body %}
    <div class="actives">
        <h2>Active Listings</h2>
    </div>

    {% for product in products %}

    <div class="container">
        <div class="product">
            {% if product.image %}
            <div class="image" style="color: white;">  <img src="{{ product.image.url }}" alt="Image">  </div>
            {% endif %}
            <div class="info">

                    <a href="{% url 'detail' product.id %}" style="color: black;"> <h5> {{ product.title }} </h5></a>
                
                
                <p> <strong>Price: {{ product.price }}$</strong></p>
                <p> created  {{product.date}} </p>

                {% if user == product.createdby and product.isopen%}
                    <p><a href=" {% url 'delete'  product.pk%} " style="color: black;"> Close </a></p>
                    
                {% endif %}

                {% if not product.isopen %}
                    <p style="color: black;"> Closed <p>
                {% endif %}
                
            </div>
        </div>
    </div>

    {% endfor %}
{% endblock %}