{% extends 'auctions/layout.html' %}

{% block title %} WatchList {% endblock title %}

{% block body %} 

    {% if message %}
        <p> {{message}} </p>
    {% endif %}

    {% if message2 %}
        <p> {{message2}} </p>
    {% endif %}
<!--{% for i in products %}
    {% for k in i.items.all %}
    <p> {{ k.title }} </p>
    {%endfor%}
    {% endfor %}-->
    

    <div class="items" style="padding: 20px 40px;">
        <h2>İtems On Watch List</h2>
        <hr>
        
        
        
        {% for product in products %}
            {% for k in product.items.all %}
        <div class="container">
            <div class="product">
                <div class="image" style="color: white;">IMAGE</div>
                <div class="info">
                    <a href="{% url 'detail' k.pk%}" style="color: black;"> <h5> {{ k.title }} </h5></a>
                    <p> <strong>Price: {{ k.price }}$</strong></p>
                    <p> created  {{k.date}} </p>

                    
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

    </div>

{% endblock body %}